namespace: default
#===========================================
#                 app                      
#===========================================
#frontend
frontend:
  name: frontend
  replicas: 1
  labels:
    app: frontend
    component: frontend
  image:
    repository: 466872246229.dkr.ecr.us-east-1.amazonaws.com/frontend-repository
    tag: "latest"
    pullPolicy: IfNotPresent
  containerPort: 80
  serviceAccountName: default
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  podAnnotations: {}
  env: []
  #service
  service:
    type: NodePort
    port: 80
    nodePort: 31000
#backend
backend:
  name: backend
  replicas: 1
  labels:
    app: backend
    component: backend
  image:
    repository: jamiekariuki/blog
    tag: "latest"
    pullPolicy: IfNotPresent
  containerPort: 8000
  serviceAccountName: default
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "400m"
      memory: "512Mi"
  podAnnotations: {}
  envFrom:
    - secretRef:
        name: backend-secrets
  #service    
  service:
    type: ClusterIP
    port: 8000
#===========================================
#                 service account                      
#===========================================
esoServiceAccount:
  name: secret-manager-sa
#===========================================
#                 networking                      
#===========================================
#===========================================
#                 rbac                      
#===========================================
#===========================================
#                 gateway api                      
#===========================================
envoy-gateway:
  # Deploy the Envoy Gateway controller
  manager:
    replicas: 2
  # Deploy the Envoy Proxy (data plane)
  envoyProxy:
    enable: true
    replicas: 2
    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: nlb # or remove if you want classic LB
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
  # Enable Gateway API integration
  gateway:
    controllerName: envoy-gateway
    gatewayClass:
      name: envoy
      create: true
    gateway:
      name: default-gateway
      namespace: default
      listeners:
        - name: http
          hostname: "example.com"
          port: 80
          protocol: HTTP
        - name: https
          port: 443
          protocol: HTTPS
          tls:
            mode: Terminate
            certificateRefs:
              - name: my-cert # to be created by cert-manager
  # Enable EnvoyGateway API resources
  kubernetes:
    provider: "kubernetes"
#===========================================
#                 external secrets                      
#===========================================
irsaArn: blank
secretsmanagerArn: blank
secretStore:
  name: secretstore
  provider:
    service: SecretsManager
    region: us-east-1
externalSecret:
  name: db-credentials
#===========================================
#                 istio                      
#===========================================
#===========================================
#                 service account                      
#===========================================
#===========================================
#                 networking                      
#===========================================
#===========================================
#                 rbac                      
#===========================================

#===========================================
#                 gateway api                      
#===========================================

#===========================================
#                 external secrets                      
#===========================================

#===========================================
#                 istio                      
#===========================================
