namespace: default
#===========================================
#                 app                      
#===========================================


#frontend
frontend:
  name: frontend
  replicas: 1
  labels:
    app: frontend
    component: frontend
  image:
    repository: 466872246229.dkr.ecr.us-east-1.amazonaws.com/frontend-repository
    tag: "latest"
    pullPolicy: IfNotPresent
  containerPort: 80
  serviceAccountName: default
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"
  podAnnotations: {}
  env: []
  #service
  service:
    name: frontend
    type: ClusterIP
    port: 80
#backend
backend:
  name: backend
  replicas: 1
  labels:
    app: backend
    component: backend
  image:
    repository: 466872246229.dkr.ecr.us-east-1.amazonaws.com/backend-repository
    tag: "latest"
    pullPolicy: IfNotPresent
  containerPort: 8000
  serviceAccountName: default
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "400m"
      memory: "512Mi"
  podAnnotations: {}
  envFrom:
    secretRef:
      name: db-credentials #must match with external secret store target 
  #service    
  service:
    name: backend
    type: ClusterIP
    port: 8000
#config map
config:
  name: config-db-credentials
  dbname: "posgressdb"
  host: "dev-db.c0nu6occexai.us-east-1.rds.amazonaws.com"
  port: "5432"
#===========================================
#                 service account                      
#===========================================
