namespace: dev
serviceAccount:
  name: secret-manager-sa
  role-arn: ""  
  
secretStore:
  name: secretstore
  provider:
    service: SecretsManager
    region: us-east-1
externalSecret:
  name: db-credentials
  target: db-credentials
  remoteRef:
    key: "" 