apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.name }}
data:
  POSTGRES_DB: {{ .Values.config.dbname }}
  POSTGRES_HOST: {{ .Values.config.host }}
  POSTGRES_PORT: {{ .Values.config.port }}

